:root {
	--border-width: 0px;
	--border-color: none;
}

body,
html {
	padding: 0;
	margin: 0;
	/* overflow-y: hidden; */
	font-family: 'Gotham';
	color: var(--light);
	user-select: none;
}

.main {
	position: relative;
	width: 1920px;
	height: 1080px;
	display: flex;
	flex-direction: column;
	background-image: url('../_shared/assets/bg.png');
	overflow: hidden;
	z-index: 0;
}

.header-title {
	position: absolute;
	top: 30px;
	left: 38px;
	font-weight: 900;
	font-size: 58px;
	line-height: 54px;
	word-spacing: 100vw;
}

.header-stats {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	top: 33px;
	right: 64px;
}

.now-playing {
	opacity: 50%;
	font-weight: 900;
	font-size: 18px;
	letter-spacing: 0.2em;
	margin-bottom: 16px;
}

.title {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 16px;
}

.stats-section {
	display: flex;
	gap: 20px;
}

.stat {
	opacity: 70%;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 6px;
}

.top-footer {
	position: relative;
	top: 878px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 1;
	transition: opacity 300ms ease;
}

.lead-bar {
	position: absolute;
	height: 20px;
	width: 0;
	background-color: var(--light);
	top: 0px;
	left: calc(1920px / 2);
	transition: width 300ms ease;
}

.team-scores {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	gap: 24px;
	height: fit-content;
}
.lead-bar.red {
	background-color: var(--red);
	margin-right: 12px;
}

.lead-bar.blue {
	background-color: var(--blue);
	margin-left: 12px;
}

.lead-bar.red::before {
	content: '';
	height: 100%;
	width: 20px;
	border-radius: 100% 0 0 100%;
	background: var(--red);
	position: absolute;
	left: -10px;
}

.lead-bar.blue::after {
	content: '';
	height: 100%;
	width: 20px;
	border-radius: 0 100% 100% 0;
	background: var(--blue);
	position: absolute;
	right: -10px;
}

.team-score {
	position: absolute;
	top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
}

.team-score.red {
	right: 970px;
	margin-right: 3px;
}

.team-score.blue {
	left: 970px;
	margin-left: 3px;
}

.winning {
	font-weight: bold;
	font-size: 48px;
}

.score-diff-container {
	margin-top: 38px;
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--red);
}

.score-diff {
	opacity: 1;
	transition: opacity 300ms ease;
}

.score-diff.red {
	color: var(--red);
}

.score-diff.blue {
	color: var(--blue);
}

.score-diff::before {
	content: attr(data-before);
	display: inline-block;
	font-size: 0.8rem;
	padding-right: 6px;
	transform: translateY(-2px);
}

.score-diff::after {
	content: attr(data-after);
	display: inline-block;
	font-size: 0.8rem;
	padding-left: 6px;
	transform: translateY(-2px);
}

.chat-container {
	position: absolute;
	top: 878px;
	left: 635px;
	opacity: 0;
	transition: opacity 300ms ease;
}

.chat {
	padding: 12px 10px;
	height: 166px;
	width: 640px;
	box-sizing: border-box; 
	background-color: rgba(0, 0, 0, .5);
	border: 6px solid var(--light);
	color: var(--light);
	overflow: hidden;
	display: flex;
	flex-direction: column-reverse;
	gap: 2px;
	transition: height 300ms ease, padding 300ms ease;
}

.chat-message {
	display: flex;
	gap: 4px;
	font-size: 18px;
	line-height: 24px;
}

.chat-message:nth-of-type(n+8) {
	display: none;
}


.chat-name {
	color: #d6d6d6;
}

.red>.chat-name {
	color: var(--red);
}

.blue>.chat-name {
	color: var(--blue);
}

.bot>.chat-name {
	background-color: var(--dark);
	color: var(--light);
	padding-left: 12px;
	padding-right: 9px;
	border-radius: 20px;
}

.chat-name::after {
	content: ':';
	margin-right: 4px;
}

.chat-body {
	word-break: break-all;
}

.chat-time {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 2px;
	min-width: 46px;
	text-align: center;
	font-size: 1.2rem;
	color: var(--text-dark);
}

.stage {
	position: absolute;
	bottom: 44px;
	right: 44px;
	font-weight: 500;
	font-size: 48px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 0px;
	visibility: 0;
}

/* Track */
::-webkit-scrollbar-track {
	margin-top: 25px;
	margin-bottom: 25px;
	visibility: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}
