@font-face {
    font-family: 'Gotham';
    src: url('../_shared/fonts/Gotham-Black.woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../_shared/fonts/Gotham-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}

:root {
    --accent: #ffcf11;
    --accent-text: #ff7471;
    --dark: #000000;
    --light: #ffffff;
    --text-dark: #6f6f6f;
    --progress-bg: #222222;
    --accent-mod-nm: #759de7;
    --accent-mod-hd: #eec875;
    --accent-mod-hr: #e97777;
    --accent-mod-dt: #ad73db;
    --accent-mod-fm: #85e285;
    --accent-mod-tb: #61cfc1;
    --red: #db5e5e;
    --blue: #5eafdb;
    --red-chat: #f89c9b;
    --blue-chat: #96c4f8;
}